<!DOCTYPE html>
<html lang="en">
	<%- include("../partials/head.ejs", {title: "Create", cssDeseado:["productEditCreate.css"] }) %>
<body>
    <!-- ------------- HEADER -------------- -->
    <%- include("../partials/header.ejs") %>
<!-- ------------------ MAIN ----------------- -->
    <main>
        <br>
        <h1 id="titulo">Crear producto</h1>

        <form class="formulario" action="POST">
            <label for="name" class="form-label">Nombre del producto:</label>
			<input type="text" id="name" name="name" placeholder="Ej: Pantalon Pampero" class="form-input">
						
            <label for="price" class="form-label">Precio del producto:</label>
			<input type="text" id="price" name="price" placeholder="Ej: 5678" class="form-input">

            <label for="description" class="form-label">Descipción:</label>
			<textarea name="description" id="description" class="form-input"></textarea>

            <label for="color" class="form-label">Color:</label>
			<select name="color" id="color" class="form-input">
            <option value="">Elegí</option>
			<option value="negro">negro</option>
			<option value="azul">azul</option>
			<option value="verde">verde</option>
            <option value="beige">beige</option>
			</select>

            <label for="talle" class="form-label">talle:</label>
			<select name="talle" id="talle" class="form-input">
            <option value="">Elegí</option>
			<option value="s">s</option>
			<option value="m">m</option>
			<option value="l">l</option>
            <option value="xl">xl</option>
			</select>

			<label for="category" class="form-label">Categoría:</label>
			<select name="category" id="category" class="form-input">
			<option value="">Elegí</option>
			<option value="in-sale">Ropa de trabajo</option>
			<option value="visited">Calzado</option>
            <option value="in-sale">Seguridad</option>
			<option value="visited">Otros</option>
			</select>

			<fieldset>
			<label for="image">image</label>
			<input type="file" name="image" id="image" />
			</fieldset>

			<button type="submit" class="guardar">Guardar producto</button>
        </form>
    </main>

    <!-- ---------------- FOOTER ----------------- -->
    <%- include("../partials/footer.ejs") %>
</body>
</html>