<!DOCTYPE html>
<html lang="en">
	<%- include("../partials/head.ejs", {title: "Detalle producto", cssDeseado:["productDetail.css"] }) %>
<body>

    <!-- ------------- HEADER -------------- -->

    <%- include("../partials/header.ejs") %>

<!-- ------------------ MAIN ----------------- -->

    <main>
        <section class="detail">
            <picture class="detail__img">
                <img src="/images/111121003-Traje-de-Lluvia-.campera.-300x300.jpg" alt="traje">
            </picture>
            
            <section class="detail__informacion">
                    <h3 class="detail__informacion__titulo"> Traje de lluvia</h3>
                    <h4 class="detail__informacion__precio"> <span id="fondo__precio" >$2500</span></h4>
                    <p class="detail_informacion_descripcion">Lorem, ipsum dolor sit amet 
                        consectetur adipisicing elit. Dolor quaerat perferendis nostrum sed?
                        Ea autem unde voluptatum quis perspiciatis, quaerat neque exercitationem
                        officia nostrum, sint sunt cum temporibus facere corporis!</p>

                        <section class="detaill_informacion__formularios" >
                            <form class="detail__informacion__color" action="/colors" method="POST">
                                <label>Color:</label>
                                <select name="color">
                                <option value="#ff0000">Rojo</option>
                                <option value="#00ff00">Verde</option>
                                <option value="#0000ff">Azul</option>
                                <option value="#770077">Morado</option>
                                </select>
                                </form>
                            <form class="detail__informacion__talle" action="/talles" method="POST">
                                <label>Talle:</label>
                                <select name="talles">
                                <option value="#ff0000">S</option>
                                <option value="#00ff00">M</option>
                                <option value="#0000ff">L</option>
                                <option value="#770077">XL</option>
                                </select>
                                </form>
                        </section>
                            <div class="cant">
                                <label class="count">Cantidad</label>
                                <button class="menos" onclick="contadormenos()">-</button>
                                <input id="count" type="text" style="text-align: center; width: 30px;">
                                <button class="menos" onclick="contadormas()">+</button>
                            </div>

                    
                    <button class="detail__informacion__boton">Agregar al carrito</button>
                    
            </section>
        </section>

       

    </main>

    <!-- ---------------- FOOTER ----------------- -->

    <%- include("../partials/footer.ejs") %>

</body>
</html>