<!DOCTYPE html>
<html lang="en">
	<%- include("../partials/head.ejs", {title: "Create", cssDeseado:["productEditCreate.css"] }) %>
<body>
    <!-- ------------- HEADER -------------- -->
    <%- include("../partials/header.ejs") %>
<!-- ------------------ MAIN ----------------- -->
    <main>
        <br>
        <h1 id="titulo">Crear producto</h1>

        <form class="formulario" method="POST" action="/product/create" enctype="multipart/form-data" >
            <label for="name" class="form-label">Nombre del producto:</label>
			<input type="text" id="name" name="name" placeholder="Ej: Pantalon Pampero" class="form-input">
						
            <label for="price" class="form-label">Precio del producto:</label>
			<input type="text" id="price" name="price" placeholder="Ej: 5678" class="form-input">

            <label for="description" class="form-label">Descipción:</label>
			<textarea name="description" id="description" class="form-input"></textarea>

            <!-- <label for="color" class="form-label">Color:</label>
			<select name="color" id="color" class="form-input" multiple>
            <option value="">Elegí</option>
			<option value="negro">negro</option>
			<option value="azul">azul</option>
			<option value="verde">verde</option>
            <option value="beige">beige</option>
			</select> -->

			<label for="color">Color:</label>
			<div id="colorFlex">
            <label><input type="checkbox" name="color" value="negro"> negro</label>
            <label><input type="checkbox" name="color" value="azul"> azul</label>
            <label><input type="checkbox" name="color" value="verde"> verde</label>
			<label><input type="checkbox" name="color" value="beige"> beige</label> 
			</div>   

			<label for="talle" >talle:</label>
			<div class="talleFlex">
            <label><input type="checkbox" name="size" value="s">S</label>
            <label><input type="checkbox" name="size" value="m">M</label>
            <label><input type="checkbox" name="size" value="l">L</label>
			<label><input type="checkbox" name="size" value="xl">XL</label> 
			</div>
			<div class="talleFlex">
				<label><input type="checkbox" name="size" value="38">38</label>
				<label><input type="checkbox" name="size" value="39">39</label>
				<label><input type="checkbox" name="size" value="40">40</label>
				<label><input type="checkbox" name="size" value="41">41</label> 
				<label><input type="checkbox" name="size" value="42">42</label>
				<label><input type="checkbox" name="size" value="43">43</label> 
				<label><input type="checkbox" name="size" value="44">44</label> 
			</div>      

            <!-- <label for="talle" class="form-label">talle:</label>
			<select name="talle" id="size" class="form-input" multiple>
            <option value="">Elegí</option>
			<option value="s">s</option>
			<option value="m">m</option>
			<option value="l">l</option>
            <option value="38">38</option>
			<option value="39">39</option>
			<option value="40">40</option>
			<option value="41">41</option>
			<option value="42">42</option>
			</select> -->

			<!-- <fieldset>
				<label for="talle" class="form-label">talle:</label>
				<select value=<%= //product.category %>>
					<% //if (product.category =="calzado") { %>
						<option value="38">38</option>
						<option value="39">39</option>
						<option value="40">40</option>
						<option value="41">41</option>
						<option value="42">42</option>
					<%// } %>
					<% //if (product.category =="ropa") { %>
						<option value="s">s</option>
						<option value="m">m</option>
						<option value="l">l</option>
						<option value="xl">xl</option>
						<option value="xxl">xxl</option>
					<%// } %>
				</select>
			</fieldset> -->

			<label for="category" class="form-label">Categoría:</label>
			<select name="category" id="category" class="form-input">
			<option value="">Elegí</option>
			<option value="ropa">Ropa de trabajo</option>
			<option value="calzado">Calzado</option>
            <option value="seguridad">Seguridad</option>
			<option value="otros">Otros</option>
			</select>

			<fieldset>
			<label for="image">image</label>
			<input type="file" name="image" id="image" />
			</fieldset>

			<label for="offer" class="form-label">En oferta:</label>
			<select name="offer" id="offer" class="form-input">
			<option value=false>false</option>
			<option value=true>true</option>
			</select>

			<label for="outstanding" class="form-label">Destacado</label>
			<select name="outstanding" id="outstanding" class="form-input">
			<option value=false>false</option>
			<option value=true>true</option>
			</select>


			<label for="discount">Descuento</label>
			<input type="number" id="discount" name="discount" placeholder="" class="form-input">

			<button type="submit" class="guardar">Guardar producto</button>
        </form>
    </main>

    <!-- ---------------- FOOTER ----------------- -->
    <%- include("../partials/footer.ejs") %>
</body>
</html>