<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs", {title: "LOGIN"}) %>
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>

    <!-- ------------- HEADER -------------- -->

    <%- include("../partials/header.ejs") %>

<!-- ------------------ MAIN ----------------- -->

    <main>
        
    </main>

    <!-- ---------------- FOOTER ----------------- -->

    <%- include("../partials/footer.ejs") %>

</body>
</html>