<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAF Textiles</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>

    <!-- ------------- HEADER -------------- -->

    <header class="header">

        <div class="header__main">

            <div class="header__main__left">
                <a href="/">
                <img class="header__main__logo" 
                    src="/images/logo_transparent.png" alt="logo"> 
                </a>
                <nav>   
                    <ul class="header__main__leftnavbar">
                    <li><a href="nosotros">Nosotros</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contacto</a></li>
                    </ul>
                </nav>
            </div>    

            <nav>
                <ul class="header__main__rightnavbar">
                    <li><a href="register"><i class="fas fa-user"></i> Crea tu cuenta </a></li>
                    <li><a href="login"><i class="fas fa-sign-in-alt"></i> Ingresá</a></li>
                    <li><a href="productCar"><i class="fas fa-shopping-basket"></i> Carrito </a></li>    
                </ul>
            </nav>

        </div> 
        
        <nav> <i class="fas fa-bars"></i>
            </nav>
          
    </header>

<!-- ------------------ MAIN ----------------- -->

    <main>
        <section class="detail">
            <picture class="detail__img">
                <img src="/images/111121003-Traje-de-Lluvia-.campera.-300x300.jpg" alt="traje">
            </picture>
            
            <section class="detail__informacion">
                    <h3 class="detail__informacion__titulo"> Traje de lluvia</h3>
                    <h4 class="detail__informacion__precio"> $2500</h4>
                   
                        <section class="detaill_informacion__formularios" >
                            <form class="detail__informacion__color" action="/colors" method="GET">
                                <label>Color:</label>
                                <select name="color">
                                <option value="#ff0000">Rojo</option>
                                <option value="#00ff00">Verde</option>
                                <option value="#0000ff">Azul</option>
                                <option value="#770077">Morado</option>
                                </select>
                                </form>
                            <form class="detail__informacion__talle" action="/talles" method="GET">
                                <label>Talle:</label>
                                <select name="talles">
                                <option value="#ff0000">S</option>
                                <option value="#00ff00">M</option>
                                <option value="#0000ff">L</option>
                                <option value="#770077">XL</option>
                                </select>
                                </form>
                        </section>

                    <p class="detail_informacion_descripcion">Lorem, ipsum dolor sit amet 
                    consectetur adipisicing elit. Dolor quaerat perferendis nostrum sed?
                    Ea autem unde voluptatum quis perspiciatis, quaerat neque exercitationem
                    officia nostrum, sint sunt cum temporibus facere corporis!</p>
                    <button class="detail__informacion__boton">Agregar al carrito</button>
                    <div class="cant">
                        <label class="count">Cantidad</label>
                        <button class="menos" onclick="contadormenos()">-</button>
                        <input id="count" type="text" style="text-align: center; width: 30px;">
                        <button class="menos" onclick="contadormas()">+</button>
                    </div>
            </section>
        </section>

       

    </main>

    <!-- ---------------- FOOTER ----------------- -->

    <footer class="footer">
        <div>
            <img class="footer__logo" 
            src="images/logo_transparent.png" alt="logo">
        </div>
        <section class="footer__categorias">
            <h3>Menu</h3>
            <ul>
                <div class="footer__categorias__detalle">
                <li><a href="#">Nosotros<a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contacto</a></li>
              </div>
            </ul>
        </section>
        <section class="footer__contacto">
            <h3>Contacto</h3>
            <ul>
                <li><i class="fab fa-whatsapp"></i>5491165399050</li>
                <li><i class="fas fa-phone-alt"></i>11 5352 0520</li>
                <li><i class="fas fa-at"></i>info@gaftextiles.com</li>
                <li><i class="fas fa-map-marker-alt"></i>Corrientes 1234, CABA</li>
            </ul>
        </section>
        <section class="footer__redes">
            <h3>Redes</h3>
            <ul class="footer__redes__iconos">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </section>

        
    </footer>

</body>
</html>