<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAF Textiles</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/register.css">

</head>
<body>

    <!-- ------------- HEADER -------------- -->

    <header class="header">

        <div class="header__main">

            <div class="header__main__left">
                <a href="/">
                <img class="header__main__logo" 
                    src="https://i.pinimg.com/originals/9a/ab/8a/9aab8aee6d7f4e5f49a903bb77a7957b.jpg" alt="logo"> 
                </a>
                <nav>   
                    <ul class="header__main__leftnavbar">
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contacto</a></li>
                    </ul>
                </nav>
            </div>    

            <nav>
                <ul class="header__main__rightnavbar">
                    <li><a href="register"><i class="fas fa-user"></i> Crea tu cuenta </a></li>
                    <li><a href="login"><i class="fas fa-sign-in-alt"></i> Ingresá</a></li>
                    <li><a href="#"><i class="fas fa-shopping-basket"></i> Carrito </a></li>    
                </ul>
            </nav>

        </div>     
          
    </header>

<!-- ------------------ MAIN ----------------- -->

<main>
    <br>
<h1 class="titulo">Iniciar Sesión</h1>

    <form action="/" method="POST" enctype="multipart/form-data">
        <fieldset class="formulario__field">

            <input type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido" required minlength="3">

            <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" required minlength="4" >
            
            <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio">

            <label class="intereses" for="interes">Intereses</label>
            <label><input type="checkbox" name="interes" value="Construccion"> Construccion</label>
            <label><input type="checkbox" name="interes" value="Sanitario"> Sanitario</label>
            <label><input type="checkbox" name="interes" value="Jardineria"> Jardineria</label>  
            <label><input type="checkbox" name="interes" value="Otros"> Otros</label>

            <input type="password" required minlength="4" placeholder="Contraseña">
            <input type="password" required minlength="4" placeholder="Confirmar Contraseña">

            <label><input type="checkbox" name="suscripcion" value="suscribe"> Deseo suscribirme a novedades</label>

            <button class="botonEnviar" type="submit">enviar</button>

        </fieldset>
    </form>

</main>

    <!-- ---------------- FOOTER ----------------- -->

    <footer class="footer">
        <div>
            <img class="footer__logo" 
            src="https://i.pinimg.com/originals/9a/ab/8a/9aab8aee6d7f4e5f49a903bb77a7957b.jpg" alt="logo">
        </div>
        <section class="footer__categorias">
            <h3>Menu</h3>
            <ul>
                <li><a href="#">Nosotros<a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </section>
        <section class="footer__contacto">
            <h3>Contacto</h3>
            <ul>
                <li><i class="fab fa-whatsapp"></i>5491165399050</li>
                <li><i class="fas fa-phone-alt"></i>11 5352 0520</li>
                <li><i class="fas fa-at"></i>info@gaftextiles.com</li>
                <li><i class="fas fa-map-marker-alt"></i>Corrientes 1234, CABA</li>
            </ul>
        </section>
        <section class="footer__redes">
            <h3>Redes</h3>
            <ul class="footer__redes__iconos">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </section>

        
    </footer>

</body>
</html>