
#titulo {
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    padding: 30px;
    max-width: 70vw;
    margin: auto;
}

.formulario * {
    margin-bottom: 20px;
}

#borrar {
    background-color: brown;
    width: 20vw;
    text-align: center;
    margin: auto;
    color:antiquewhite 
}