.hidden {
    display: none;
}

.titulo {
    text-align: center;
}

.formulario__field {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 35px;
    border-radius: 70px;
    background-color: #7bb548;
    margin-bottom: 30px;
    opacity: 0.9;
}

.formulario__field * {
    border: none;
    border-radius: 20px;
    
}
.formulario__field input {
    margin-top: 28px;
    padding: 10px;
}


.formulario__field button {
    margin: auto;
    background-color: #3181d6;
    width: 30vw; 
    height: 28px;
    color: white;
    font-weight: 200;
    margin-top: 28px;
    border: initial;
    border-radius: 5%;
    margin-bottom: 10px;
}


.intereses {
    margin-top: 50px;
}

.intereses__opciones {
    display: flex;
    margin-bottom: 45px;
    }    


.botonEnviar{
    transition: all 0.5s;
}

.botonEnviar:hover {
    background-color: #0022AA;
}

.invalido  {
    border-width: 1px;
    border-style: solid;
    border-color: red;
   
}

.textoError p {
    color: red;
}


@media (min-width: 499px) {
    .formulario__field {
        max-width: 70vw;
        margin: auto;
        border: none; }
    
    .intereses__opciones {
        display: flex;
        }    

    .intereses__opciones * {
        margin-left: 20px;
        }    
    }

@media (min-width: 900px) {
        .formulario__field {
            max-width: 60vw;
            margin: auto;
            border: none;
        }  }