/* Palette  */

.dark-primary-color    { background: hsl(92, 48%, 42%); }
.default-primary-color { background: #8BC34A; }
.light-primary-color   { background: #DCEDC8; }
.text-primary-color    { color: #212121; }
.accent-color          { background: #448AFF; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }


*  {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", 'Roboto', sans-serif;
    
}

/* ---------------  HEADER  ----------------- */

.header {
    background-color: #689F38;
    padding: 5px;
    height: 8vh;
}

.header__main {
    max-height: 25vh;
}

.header__main__logo {
    max-width: 240px;
    max-height: 240px;
    position: relative;
    z-index: 1;
    top: -79px;
    transition: all 0.4s;
    left: 0vw;
}

.header__main__leftnavbar, .header__main__rightnavbar {
    display: none;
}

.fa-bars {
    position: relative;
    top: -199px; 
    left: 46vw;
    z-index: 2;
    font-size: 1.8em;
    font-weight: bold;
    color: #DCEDC8;
    
}

/* Para imagen unicamente en mobile */

@media (max-width: 500px) {

    .header__main__logo {
        max-width: 180px;
        max-height: 180px;
        top: -69px;
        margin-left: -10px;
    }

    .fa-bars {
        position: relative;
        top: -179px; }
    }

    .main__fotoDoble {
        display: none
    }

    #buttonShowLeft, #buttonShowRight {
        display: none;
    }

    @media (max-width: 365px) {

        .header__main__logo {
            max-width: 140px;
            max-height: 140px;
            top: -54px;
            margin-left: -10px;
        }
    
        .fa-bars {
            position: relative;
            top: -146px; }
        }
    
    
/* ---------------  MAIN  ----------------- */

main {
    background-color:#DCEDC8;
/*     padding: 20px; */
}

.main__banner {
    width: 100vw;
    max-height: 90vh;
    margin-bottom: 20px;
}

.main__titulos {
    text-align: center;
    color: #757575;
    font-weight: 300;
    font-style: italic;
}

.main__titulos a {
    color: #448AFF;
    font-size: 0.7em;
}

.main__h1 {
    text-align: center;
    color: #52734d;
}

.main__h6 {
    text-align: center;
    color: #91c788;
    margin-top: -30px;
    font-weight: 900;
}


/* Propiedades de articulos en el Home: */

.main__articulos {
    margin: 10px;
    background-color: white;
    position: relative; /* para que el h4 no se escape */
    transition: all 450ms;
    border: solid 1px rgba(0, 0, 0, 0.3)
}

.detalleArticulos {
    border-top: solid 1px #ebebeb;
    padding: 15px;
}

.descripciones {  
    font-size: 15px;
    display: none;
}


.imagenArticulo {
    width: 60vw;
    margin: auto;
}

/* Para centrar imagen unicamente en mobile */
@media (max-width: 500px) {

.imagenArticulo {
    position: relative;
    left: 15vw;
} 
}

.precio {
    font-size: 16px;
    font-weight: bold;
}

.descuentos {
    font-size: 15px;
    font-weight: bold;
    color: #39b54a; 
}

.fa-truck {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    color: green; 
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15p 
} 


.main__section__destacados {
    display: flex;
    flex-direction: column;
}


/* ------ Tablets -------- */

@media (min-width: 500px) {
    .descripciones {
        display: block;
    }

    

    /* .detalleArticulos {
        display: none;
    } */

    .main__section__destacados, .main__section__ofertas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main__articulos *{
        width: 40vw;
    }

    .detalleArticulos {
        width: 40vw;
    }

    .fa-truck {
        max-width: 3vw;
    }

    
}

/* Desktop */

@media (min-width: 965px) {
    

          /* 760px header */
        
        .fa-bars {
            display: none;
        }
    
        .header {
            height: 6vh;
            max-height: 6vh;
            position: fixed; 
            top: 0; 
            width: 100%;
            z-index: 1;
        }
    
        .header__main {
            display: flex;
            justify-content: space-between; /* para ocupar ambos extremos */ 
            max-height: 6vh;         
        }
        
        .header__main__left {
            display: flex; /* junta logo y categorias */
        }
        
        .header__main__logo {
            width: 260px;
            height: 260px;
            /* position: relative; */
            /* z-index: 1; */
            top: -102px;
            transition: all 0.4s;
            left: 0%;
        }
        
        .header__main__logo:hover {
            width: 265px;

        }
                
        .header__main__leftnavbar {
            display: flex;  /* ponemos horizontal las categorias */
            font-size: 16px;
            margin-left: 2px; /* separacion del logo */
            list-style: none;
            margin-top: 10px; 
        }
        
        .header__main__rightnavbar {
            display: flex;  /* ponemos horizontal las categorias */
            font-size: 16px;
            list-style: none;
            margin-top: 10px; 
        }
        
        .header__main__leftnavbar li {
            margin-right: 15px;
        }
        
        .header__main__rightnavbar li {
            margin-right: 25px;
        }
        
        .header__main__rightnavbar a, .header__main__leftnavbar a  {
            color: #DCEDC8;
            text-decoration-line: none;
            transition: all 1s;
            
        }
        
        .header__main__rightnavbar a:hover, .header__main__leftnavbar a:hover {
            color: #DCEDC8;
            font-size: 1.2em;
        }


        /* 760px main */
        

    .imagenArticulo:hover + .detalleArticulos {
        opacity: 1;
        background-color: rgba(39, 99, 69, 0.2);
        width: 22vw;
    }

    .imagenArticulo:hover {
        box-shadow: 0 0 16px 0px rgba(20, 20, 20, .8);
       
    }

.imagenArticulo, .detalleArticulos {
    transition: all 0.4s;
}

    .main__section__lastvisit, .main__section__ofertas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main__articulos *{
        width: 20vw;
    }

    .detalleArticulos {
        width: 20vw;
    }
    .fa-truck {
        max-width: 3vw;
    }

    .main__fotoDoble {
        display: flex;
        justify-content: center;
        position: relative;
    }
    
    .main__fotoDoble img {
        width: 30vw;
        max-height: 80vh;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #buttonShowLeft {
        display: initial;
        position: absolute;
        top: 22em;
        left: 17.5em;
        padding: 10px;
        background-color: rgba(240, 25, 40, 0.5);
        color: wheat;
    }

    #buttonStyleLeft {
        padding: 10px;
        margin-bottom: 10px;
        margin-left: 6.7em;
        background-color:  rgba(240, 25, 40, 0.6);
        color: wheat;
    }
    #buttonShowRight {
        display: initial;
        position: absolute;
        top: 22em;
        right: 16.5em;
        padding: 10px;
        background-color: rgba(240, 25, 40, 0.5);
        color: wheat;
    }

    #buttonStyleRight {
        padding: 10px;
        margin-bottom: 10px;
        margin-left: 6.7em;
        background-color:  rgba(240, 25, 40, 0.6);
        color: wheat;
    }
}

@media (min-width: 1200px) {
    .fa-truck {
        max-width: 2vw;
    }
    .header__main__logo {
        width: 260px;
        height: 260px;
        top: -100px;
        left: 0%;
    }
    
            
    .header__main__leftnavbar {
        font-size: 17px;
        margin-left: 10px; /* separacion del logo */
        list-style: none;
        margin-top: 10px; 
    }
    
    .header__main__rightnavbar {
        display: flex;  /* ponemos horizontal las categorias */
        font-size: 17px;
        list-style: none;
        margin-top: 10px; 
    }
    
    .header__main__leftnavbar li {
        margin-right: 45px;
    }
    
    .header__main__rightnavbar li {
        margin-right: 25px;
    }
}


/* -----------  FOOTER --------------- */

   .footer-distributed{
    background-color: hsl(92, 41%, 36%);;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 30px 60px;
    margin-top: 5px;
    max-height:30vh
   }
    
   .footer-distributed .footer-left,
   .footer-distributed .footer-center,
   .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
   }
    
   .footer-distributed .footer-left{
    width: 40%;
   }
    
   .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
   }
    
   .footer-distributed h3 span{
    color:  #c4e91d;
    font-weight: 900;
   }
    
    
   .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
   }
    
   .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
   }
    
   .footer-distributed .footer-company-name{
    color:  #c4e91d;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
   }
    
    
   .footer-distributed .footer-center{
    width: 35%;
   }
    
   .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
   }
    
   .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
   }
    
   .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
   }
    
   .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
   }
    
   .footer-distributed .footer-center p a{
    color:  #dde2eb;
    text-decoration: none;;
   }
    
   .footer-distributed .footer-right{
    width: 20%;
   }
    
   .footer-distributed .footer-company-about{
    line-height: 20px;
    color: rgb(235, 236, 229);
    font-size: 13px;
    font-weight: normal;
    margin: 0;
   }
    
   .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
   }
    
   .footer-distributed .footer-icons{
    margin-top: 25px;
   }
    
   .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
    
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    
    margin-right: 3px;
    margin-bottom: 5px;
   }
    
    
   @media (max-width: 880px) {
    
    .footer-distributed{
    font: bold 14px sans-serif;
    
    }
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    }
    
    .footer-distributed .footer-center i{
    margin-left: 0;
    }
    .main {
    line-height: normal;
    font-size: auto;
    }
    
   }








/* ---------------  FOOTER eliminado  ----------------- */

/* @media (max-width: 499px) {
    .footer {
        background-color: #8BC34A;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
    }
    
    .footer h3 {
        margin-bottom: 10px;
        color: #52734d;
        font-size: 20px;
        text-align: center; 
    }
    
    .footer ul {
        list-style: none;
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .footer__logo {
        display: none;
    }
    
    .footer__contacto {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 5px 0;
    }
    
    .footer__categorias {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 5px 0;
        color: black;
    }
    
    .footer__categorias a {
        color: black;
        font-weight: 500;
    }
    
    .footer__redes {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 5px 0;
    }
    
    .footer__redes__iconos {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .fa-whatsapp, .fa-phone-alt, .fa-at, .fa-map-marker-alt {
        font-size: 18px;
        margin-right: 10px;
        color: #52734d;
    }
    
    .fa-facebook-f, .fa-instagram, .fa-twitter {
        font-size: 22px;
        margin-right: 16px;
    }
    /* Tablet footer */

    /* .footer {
        background-color: #8BC34A;
        display: flex;
        justify-content: space-between;
        padding: 15px 8vw;
        max-height: 30vh;
    }
    
    .footer h3 {
        margin-bottom: 10px;
        color: #52734d;
        font-size: 20px; 
    }
    
    .footer ul {
        list-style: none;
        font-size: 14px;
    }
    
    .footer__logo {
        max-width: 148px;
        max-height: 138px;
        position: relative;
        bottom: 15px;
        z-index: 1;
    }
    
    .footer__contacto {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 5px 0;
    }
    
    .footer__categorias {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 5px 0;
        color: black;
    }
    
    .footer__categorias a {
        color: black;
        font-weight: 500;
    }
    
    .footer__categorias a:hover {
        background-color: white;
        color: black;
    }
    
    .footer__redes {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 5px 0;
    }
    
    .footer__redes__iconos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .fa-whatsapp, .fa-phone-alt, .fa-at, .fa-map-marker-alt {
        font-size: 18px;
        margin-right: 10px;
        color: #52734d;
    }
    
    .fa-facebook-f, .fa-instagram, .fa-twitter {
        font-size: 22px;
        margin-right: 16px;
        color: #448AFF;
    }
 
} */ 