
#titulo {
    padding: 50px;
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    padding: 30px;
    max-width: 70vw;
    margin: auto;
}

.formulario * {
    margin-bottom: 20px;
}

#borrar {
    background-color: brown;
    width: 20vw;
    text-align: center;
    margin: auto;
    color:antiquewhite 
}

#colorFlex {
    display: flex;
    justify-content: space-between;
    max-width: 40vw;
}

.talleFlex {
    display: flex;
    justify-content: space-between;
    max-width: 40vw;
}

.is-invalid {
    border: 1px solid red !important 
}

#descriptionError, #imageError, #nameError {
    color: red;
    font-weight: 200;
    margin-left: 10px;
    margin-bottom: 22px;
}