<!DOCTYPE html>
<html lang="en">
	<%- include("../partials/head.ejs", {title: "Edit", cssDeseado:["productEditCreate.css"] }) %>
<body>
    <!-- ------------- HEADER -------------- -->
    <%- include("../partials/header.ejs") %>
<!-- ------------------ MAIN ----------------- -->
    <main>
        <br>
        <h1 id="titulo">Editar imagen</h1>
        <br>
        <br>

        <br>

        <br>

        <br>

        <br>

        <br>
        <form class="formulario" action="/product/updateImage/<%=product.id%>?_method=PUT" method="post" enctype="multipart/form-data" >
		
			<fieldset>
			<label for="image">image</label>
			<input type="file" name="image" id="image" />
			</fieldset>
            <div id="imageError"></div>

			
			<button type="submit" class="guardar">Guardar producto</button>
        </form>
    </main>

    <br><br><br>
	

    <!-- ---------------- FOOTER ----------------- -->
    <%- include("../partials/footer.ejs") %>
    <script src="/js/editProductImage.js"></script>
</body>
</html>