<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs", {title: "NOSOTROS"}) %>
    <link rel="stylesheet" href="/css/nosotros.css">
</head>
<body>

    <!-- ------------- HEADER -------------- -->

    <%- include("./partials/header.ejs") %>

<!-- ------------------ MAIN ----------------- -->

    <main>
            <section class="presentacion">
                <picture class="presentacion__foto"><img class="presentacion__foto" src="/images/nosotros_img.jpeg" alt="foto"></picture>
                <section class="presentacion__texto">
                <h3>Quienes Somos</h3>
                <p class="presentacion__parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Ex hic dolorem, expedita praesentium, ipsam facilis, totam iure qui tenetur eos sint. 
                    Perspiciatis suscipit ad culpa omnis mollitia, a recusandae cum!</p>
                <p class="presentacion__parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Ex hic dolorem, expedita praesentium, ipsam facilis, totam iure qui tenetur eos sint. 
                    Perspiciatis suscipit ad culpa omnis mollitia, a recusandae cum!</p>
                </section>
            </section>

            <section class="eleccion">
                <h3>¿Por qué elegirnos?</h3>
                <section class="eleccion__motivos">

                    <section class="eleccion__motivos__sueltos">
                        <i class="fas fa-credit-card"></i>
                        <h4>Envíos</h4>
                        <p>Luego de realizar su compra coordinamos la mejor opción
                            para entregar en tiempo y forma su producto. 
                        </p>
                </section>
        
                <section class="eleccion__motivos__sueltos">
                        <i class="fas fa-gift"></i>
                        <h4>Atención personalizada</h4>
                        <p>No dude en ponerse en contacto con los canales de atencion
                            para recibir el mejor asesoramiento. 
                        </p>
                </section>
        
                <section class="eleccion__motivos__sueltos">
                        <i class="fas fa-handshake"></i>
                        <h4>Atención a Empresas</h4>
                        <p>Nuestros ejecutivos de cuentas estaran a disposició
                        en todo momento para satisfacer las necesidades de su empresa.
                        </p></section>
                <section>

                </section>
            </section>
    </main>

    <!-- ---------------- FOOTER ----------------- -->

    <%- include("./partials/footer.ejs") %>

</body>
</html>