<footer class="footer-distributed">
 
    <div class="footer-left">
    
    <h3>Gaf<span>Textiles</span></h3>
    
    <p class="footer-links">
    <a href="#">Home</a>
    ·
    <a href="#">Nosotros</a>
    ·
    <a href="#">Productos</a>
    ·
    <a href="#">FAQ</a>
    ·
    <a href="#">Contacto</a>
    ·
    </p>
    
    <p class="footer-company-name">Gaf &copy; 2021</p>
    </div>
    
    <div class="footer-center">
    
    <div>
    <i class="fa fa-map-marker"></i>
    <p><span>Corrientes 1234</span> Caba, Argentina</p>
    </div>
    
    <div>
    <i class="fa fa-phone"></i>
    <p>+54 11 54905111</p>
    </div>
    
    <div>
    <i class="fa fa-envelope"></i>
    <p><a href="mailto:contacto@ga.com">contacto@gaftextiles.com</a></p>
    </div>
    
    </div>
    
    <div class="footer-right">
    
    <p class="footer-company-about">
    <span>Redes sociales</span>
    Seguinos en las redes para encontrar las ultimas novedades
    </p>
    
    <div class="footer-icons">
    
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    
    </div>
    
    </div>
    
    </footer>






    <!-- <footer class="footer">
    <div>
        <img class="footer__logo" 
        src="/images/d2050cf17d75489caf78d329b5ce264e1.png" alt="logo">
    </div>
    <section class="footer__categorias">
        <h3>Menu</h3>
        <ul>
            <div class="footer__categorias__detalle">
            <li><a href="#">Nosotros<a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contacto</a></li>
    </div>
        </ul>
    </section>
    <section class="footer__contacto">
        <h3>Contacto</h3>
        <ul> 
            <div id="footerFlex1"><li><i class="fab fa-whatsapp"></i>1165399050</li>
            <li><i class="fas fa-phone-alt"></i>1153520520</li> </div>
            <div id="footerFlex2"><li><i class="fas fa-at"></i>info@gaftextiles.com</li>
            <li><i class="fas fa-map-marker-alt"></i>Corrientes 1234</li> </div>
        </ul>
    </section>
    <section class="footer__redes">
        <h3>Redes</h3>
        <ul class="footer__redes__iconos">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </section>

    
</footer> -->