<footer class="footer">
    <div>
        <img class="footer__logo" 
        src="images/logo_transparent.png" alt="logo">
    </div>
    <section class="footer__categorias">
        <h3>Menu</h3>
        <ul>
            <div class="footer__categorias__detalle">
            <li><a href="#">Nosotros<a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contacto</a></li>
          </div>
        </ul>
    </section>
    <section class="footer__contacto">
        <h3>Contacto</h3>
        <ul>
            <li><i class="fab fa-whatsapp"></i>5491165399050</li>
            <li><i class="fas fa-phone-alt"></i>11 5352 0520</li>
            <li><i class="fas fa-at"></i>info@gaftextiles.com</li>
            <li><i class="fas fa-map-marker-alt"></i>Corrientes 1234, CABA</li>
        </ul>
    </section>
    <section class="footer__redes">
        <h3>Redes</h3>
        <ul class="footer__redes__iconos">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </section>

    
</footer>