<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs", {title: "Login", cssDeseado:["login.css"] }) %>
<body>

    <!-- ------------- HEADER -------------- -->

    <%- include("../partials/header.ejs") %>

<!-- ------------------ MAIN ----------------- -->

<main>
    <br>
<h1 class="titulo">Iniciar Sesión</h1>



    <form action="/" method="POST" enctype="multipart/form-data">
        <fieldset class="formulario__field">

            <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" minlength="4" required>
            <input type="password" placeholder="Password" minlength="4" required>
            <p class="olvido">¿Olvidaste tu contraseña?</p>
            <label><input type="checkbox" name="recordar" value="recordar"> Deseo recordar mi contraseña</label>
            <button class="botonEnviar" type="submit">Enviar</button>

        </fieldset>
    </form>

    <h5 class="crearCuenta">¿No tienes cuenta? <a href="register">CREAR CUENTA</a></h5>
</main>

    <!-- ---------------- FOOTER ----------------- -->

    <%- include("../partials/footer.ejs") %>

</body>
</html>